DATABASE_URL_POOLED=postgresql://usuario:password@host-pooler.region.aws.neon.tech/dbname?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://usuario:password@host.region.aws.neon.tech/dbname?sslmode=require
JWT_SECRET=genera-uno-con-python-secrets-token-urlsafe-50
JWT_EXPIRE_MINUTES=30
DEMO_MODE=true
TZ_APP=America/Lima